<a href="https://colab.research.google.com/github/dowora/Pythonwora/blob/main/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print('¡Hola Mundo!')

¡Hola Mundo!

In [ ]:
print('Escuela de Datos Alura')

Escuela de Datos Alura

In [ ]:
print('Nombre: Franco')
print('Apellido: Gimenez')

Nombre: Franco
Apellido: Gimenez

In [ ]:
print('F')
print('R')
print('A')
print('N')
print('C')
print('O')

F
R
A
N
C
O

In [ ]:
print(20, 'Noviembre', 1997)

20 Noviembre 1997

In [ ]:
print('Año Actual:', 2025)

Año Actual: 2025

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [ ]:
5

5

In [ ]:
id(5)

11642216

In [ ]:
edad = 5

In [ ]:
print(id(edad))
print(id(5))

11642216
11642216

In [ ]:
numeroCinco = 5

In [ ]:
id(numeroCinco)

11642216

In [ ]:
nombre = 'Franco'

In [ ]:
id('Franco')

139908833209840

In [ ]:
id(nombre)

139908833209840

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
edad = 5

In [ ]:
type(edad)

int

In [ ]:
promedio = 9.5
type(promedio)

float

In [ ]:
nombre = 'Franco'
type(nombre)

str

In [ ]:
v = True
type(v)

bool

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

In [ ]:
nombre_estudiante = 'Penelope Camacho'
edad_estudiante = 11
promedio_estudiante = 9.75
aprobado_estudiante = True

print(nombre_estudiante, edad_estudiante, promedio_estudiante, aprobado_estudiante)
print(type(nombre_estudiante), type (edad_estudiante), type(promedio_estudiante), type(aprobado_estudiante))

Penelope Camacho 11 9.75 True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [ ]:
c_vigilante = 5
s_vigilante = 300

c_docente = 16
s_docente = 500

c_coordinador = 2
s_coordinador = 600

In [ ]:
total_empleados = c_vigilante + c_docente + c_coordinador
total_empleados

23

In [ ]:
diferencia_salario = s_coordinador - s_vigilante
diferencia_salario

300

In [ ]:
promedio_ponderado = (c_vigilante * s_vigilante + c_docente * s_docente
                      + c_coordinador * s_coordinador) / total_empleados
promedio_ponderado

465.2173913043478

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '
id(texto)

139908571584496

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [ ]:
texto.upper()

'  MICAELA DE LOS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [ ]:
texto.lower()

'  micaela de los sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [ ]:
texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [ ]:
texto.replace('y', 't')

'  Micaela de los Santos '

In [ ]:
texto
id(texto)

139908571584496

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

In [ ]:
nuevo_texto = texto.strip().replace('y', 't').upper()
print(nuevo_texto)
print(id(texto),id(nuevo_texto))

MICAELA DE LOS SANTOS
139908571584496 139908571316656

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [ ]:
nombre = input('¿Cuál es tu nombre? ')

¿Cuál es tu nombre? Franco

In [ ]:
type(nombre)

str

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
dinero_actual = int(input('¿Cuál es tu dinero actual? '))

¿Cuál es tu dinero actual? 2000

In [ ]:
type(dinero_actual)

int

In [ ]:
dinero_retirado = float(input('¿Cuánto dinero retirará? '))

¿Cuánto dinero retirará? 192.3

In [ ]:
type(dinero_retirado)

float

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [ ]:
print(f'\tDinero actual: {dinero_actual} \n\tEl dinero retirado fue de: {dinero_retirado}')

	Dinero actual: 2000
	El dinero retirado fue de: 192.3

#Practicas

In [ ]:
nombre_usuario = input('¿Cuál es tu nombre? ')
edad_usuario = int(input('¿Cuál es tu edad? '))
altura_usuario = float(input('¿Cuál es tu altura? '))

¿Cuál es tu nombre? Franco
¿Cuál es tu edad? 27
¿Cuál es tu altura? 1.84

In [ ]:
print(f'Hola {nombre_usuario}, tienes {edad_usuario} años de edad y mides {altura_usuario} mts de altura ')

Hola Franco, tienes 27 años de edad y mides 1.84 mts de altura

#Calculadora

In [ ]:
valor_1 = int(input('Ingrese el primer valor: '))
valor_2 = int(input('Ingrese el segundo valor: '))
valor_3 = int(input('Ingrese el tercer valor: '))

Ingrese el primer valor: 30
Ingrese el segundo valor: 30
Ingrese el tercer valor: 30

In [ ]:
print(f'La suma de los valores es: {valor_1 + valor_2 + valor_3}')

La suma de los valores es: 90

In [ ]:
valor_4 = float(input('Ingrese el primer valor: '))
valor_5 = float(input('Ingrese el segundo valor: '))

Ingrese el primer valor: 50
Ingrese el segundo valor: 20

In [ ]:
print(f'La resta de los valores es: {valor_4 - valor_5}')

La resta de los valores es: 30.0

In [ ]:
valor_6 = int(input('Ingrese el primer valor: '))
valor_7 = int(input('Ingrese el segundo valor: '))

Ingrese el primer valor: 60
Ingrese el segundo valor: 2

In [ ]:
print(f'La división de los valores es: {valor_6 / valor_7}')

La división de los valores es: 30.0

In [ ]:
primer_trimetre = int(input('Ingrese la nota del primer trimetre: '))
segundo_trimetre = int(input('Ingrese la nota del segundo trimetre: '))
tercer_trimetre = int(input('Ingrese la nota del tercer trimetre: '))

Ingrese la nota del primer trimetre: 9
Ingrese la nota del segundo trimetre: 5
Ingrese la nota del tercer trimetre: 8

In [ ]:
print(f'El promedio del alumno es: {(primer_trimetre + segundo_trimetre + tercer_trimetre) / 3}')

El promedio del alumno es: 7.333333333333333

In [ ]:
media_ponderada = (5*1 + 12*2 + 20*3 + 15*4) / (1+2+3+4)
print(f'Media {media_ponderada}.')

Media 14.9.

# Estructuras condicionales

In [ ]:
# Nota de aprobacion entre 7 y 10 == Entonces debe ser >= 7
# Nota de reprobacion es menor a  7 == Entonces debe ser < 7

"""
Si la nota es mayor o igual a  7 entonces el estudiante aprueba
Si no, entonces el estudiante reprueba
"""

'\nSi la nota es mayor o igual a  7 entonces el estudiante aprueba\nSi no, entonces el estudiante reprueba\n'

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [ ]:
if 2 > 7:
  print('La condicion es verdadera')
print('Fin del programa')

Fin del programa

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

In [ ]:
if 2 > 7:
  print('La condicion es verdadera')
else:
  print('La condicion es falsa')
print('Fin del programa')

La condicion es falsa
Fin del programa

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [ ]:
nota = float(input('Ingrese su nota: '))

if nota >= 7:
  print('Aprobado')
else:
  print('Reprobado')

Ingrese su nota: 7
Aprobado

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

In [ ]:
nota = float(input('Ingrese su nota: '))

if nota >= 7:
  print('Aprobado')
if 7 > nota >= 5:
  print('Recuperación')
if nota < 5:
  print('Reprobado')

Ingrese su nota: 5
Recuperación

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

In [ ]:
nota = float(input('Ingrese su nota: '))

if nota >= 7:
  print('Aprobado')
if 7 > nota >= 5:
  print('Recuperación')
else:
  print('Reprobado')

Ingrese su nota: 8
Aprobado
Reprobado

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [ ]:
nota = float(input('Ingrese su nota: '))

if nota >= 7:
  print('Aprobado')
elif 7 > nota >= 5:
  print('Recuperación')
else:
  print('Reprobado')

Ingrese su nota: 8
Aprobado

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [ ]:
v = True
f = False

In [ ]:
if v and v:
  print('Verdadero')
else:
  print('Falso')

Verdadero

In [ ]:
if f or v:
  print('Verdadero')
else:
  print('Falso')

Verdadero

In [ ]:
if not v:
  print('Verdadero')
else:
  print('Falso')

Falso

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [ ]:
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,\
Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,\
David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,\
Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,\
Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,\
Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'

In [ ]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [ ]:
if nombre_1 in lista:
  print(f'{nombre_1} aprobo')
else:
  print(f'{nombre_1} reprobo')

Miguel Castro aprobo

In [ ]:
if nombre_2 in lista:
  print(f'{nombre_1} aprobo')
else:
  print(f'{nombre_1} reprobo')

Miguel Castro reprobo

# Entrenando la Programacion

In [ ]:
comparador_1 = float(input('Ingrese el primer valor: '))
comparador_2 = float(input('Ingrese el segundo valor: '))

if comparador_1 > comparador_2:
  print(comparador_1)
else:
  print(comparador_2)

Ingrese el primer valor: 23
Ingrese el segundo valor: 23.5
23.5

In [ ]:
porcentaje_crecimiento = int(input('Ingrese el porcentaje de crecimiento: '))

if porcentaje_crecimiento > 0:
  print('El crecimiento es positivo')
else:
  print('El crecimiento es negativo')

Ingrese el porcentaje de crecimiento: -32
El crecimiento es negativo

In [ ]:
vocales = 'a, e, i, o, u'

letra = input('Ingrese una letra: ')

if letra in vocales:
  print('Es una vocal')
else:
  print('Es una consonante')

Ingrese una letra: q
Es una consonante

In [ ]:
año_valor1 = int(input('Ingrese el valor del primer año: '))
año_valor2 = int(input('Ingrese el valor del segundo año: '))
año_valor3 = int(input('Ingrese el valor del tercer año: '))

if año_valor1 > año_valor2 and año_valor1 > año_valor3:
  print(f'El primer año {año_valor1} es el mayor precio registrado')
elif año_valor2 > año_valor1 and año_valor2 > año_valor3:
  print(f'El segundo año {año_valor2} es el mayor precio registrado')
else:
  print(f'El tercer año {año_valor3} es el mayor precio registrado')
if año_valor1 < año_valor2 and año_valor1 < año_valor3:
  print(f'El primer año {año_valor1} es el menor precio registrado')
elif año_valor2 < año_valor1 and año_valor2 < año_valor3:
    print(f'El segundo año {año_valor2} es el menor precio registrado')
else:
    print(f'El tercer año {año_valor3} es el menor precio registrado')

Ingrese el valor del primer año: 3000
Ingrese el valor del segundo año: 2000
Ingrese el valor del tercer año: 1000
El primer año 3000 es el mayor precio registrado
El tercer año 1000 es el menor precio registrado

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [1]:
nota_1 = float(input('Ingrese la primer nota: '))
nota_2 = float(input('Ingrese la segunda nota: '))
print(f'El promedio del estudiante 1 es: {(nota_1 + nota_2) / 2}')

nota_1 = float(input('Ingrese la primer nota: '))
nota_2 = float(input('Ingrese la segunda nota: '))
print(f'El promedio del estudiante 2 es: {(nota_1 + nota_2) / 2}')

nota_1 = float(input('Ingrese la primer nota: '))
nota_2 = float(input('Ingrese la segunda nota: '))
print(f'El promedio del estudiante 3 es: {(nota_1 + nota_2) / 2}')

Ingrese la primer nota: 9.2
Ingrese la segunda nota: 3.9
El promedio del estudiante 1 es: 6.55
Ingrese la primer nota: 3
Ingrese la segunda nota: 8
El promedio del estudiante 2 es: 5.5
Ingrese la primer nota: 7
Ingrese la segunda nota: 7
El promedio del estudiante 3 es: 7.0

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

In [2]:
contador = 1
while contador <= 10:
  print(contador)
  # contador = contador + 1
  contador += 1

1
2
3
4
5
6
7
8
9
10

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

In [4]:
contador = 1

while contador <= 3:
  nota_1 = float(input('Ingrese la primer nota: '))
  nota_2 = float(input('Ingrese la segunda nota: '))
  print(f'El promedio del estudiante 1 es: {(nota_1 + nota_2) / 2}')
  contador += 1

Ingrese la primer nota: 2
Ingrese la segunda nota: 3
El promedio del estudiante 1 es: 2.5
Ingrese la primer nota: 9
Ingrese la segunda nota: 10
El promedio del estudiante 1 es: 9.5
Ingrese la primer nota: 10
Ingrese la segunda nota: 10
El promedio del estudiante 1 es: 10.0

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [5]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [6]:
for e in range (1,4):
  nota_1 = float(input('Ingrese la primer nota: '))
  nota_2 = float(input('Ingrese la segunda nota: '))
  print(f'El promedio del estudiante 1 es: {(nota_1 + nota_2) / 2}')

Ingrese la primer nota: 3
Ingrese la segunda nota: 2
El promedio del estudiante 1 es: 2.5
Ingrese la primer nota: 4
Ingrese la segunda nota: 5
El promedio del estudiante 1 es: 4.5
Ingrese la primer nota: 1
Ingrese la segunda nota: 2
El promedio del estudiante 1 es: 1.5

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [8]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

In [11]:
type (lista [1])

float

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [13]:
for elemento in lista:
  print(elemento)

Penélope Camacho
9.5
9.0
9.7
True

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [14]:
lista [2]= 10.0

In [15]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True]

In [20]:
promedio = (lista[1] + lista[2] + lista[3])/3
print(promedio)

9.733333333333333

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [23]:
len(lista)

5

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [24]:
lista[0:2]

['Penélope Camacho', 9.5]

In [25]:
lista[:3]

['Penélope Camacho', 9.5, 10.0]

In [26]:
lista[3:]

[9.7, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [27]:
lista.append(promedio)

In [28]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [29]:
lista.extend ([10.0,8.0,9.0])

In [30]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [31]:
lista.append ([10.0,8.0,9.0])

In [32]:
lista

['Penélope Camacho',
 9.5,
 10.0,
 9.7,
 True,
 9.733333333333333,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [33]:
lista.remove([10.0,8.0,9.0])

In [34]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [35]:
diccionario = {'llave_1':1,
               'llave_2':2}

diccionario

{'llave_1': 1, 'llave_2': 2}

In [36]:
type (diccionario)

dict

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [39]:
estudiante = {'matricula':2000168933,
                          'dia_registro':25,
                          'mes_registro':10,
                          'grupo':'2E'}

estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2E'}

In [40]:
estudiante ['matricula']

2000168933

In [41]:
estudiante ['grupo']

'2E'

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [42]:
estudiante ['grupo'] = '2G'

In [43]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [44]:
estudiante ['modalidad'] = 'EAD'

In [45]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2G',
 'modalidad': 'EAD'}

In [46]:
len(estudiante)

5

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [47]:
estudiante.pop('grupo')

'2G'

In [48]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'modalidad': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [49]:
estudiante.items()

dict_items([('matricula', 2000168933), ('dia_registro', 25), ('mes_registro', 10), ('modalidad', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [50]:
estudiante.keys()

dict_keys(['matricula', 'dia_registro', 'mes_registro', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [51]:
estudiante.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Lectura de valores con el lazo `for`

In [56]:
for llave in estudiante.keys():
  print(llave)

matricula
dia_registro
mes_registro
modalidad

In [58]:
for llave,valor in estudiante.items():
  print(llave, '--->', valor)

matricula ---> 2000168933
dia_registro ---> 25
mes_registro ---> 10
modalidad ---> EAD

#Ultimas Practicas

In [70]:
lista_gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

suma= sum(lista_gastos)/10
print(suma)

3144.222

In [65]:
len(lista_gastos)

10

In [80]:
techo= 3000
compras_mayores = [c for c in lista_gastos if c > techo]
porcentaje = (len(compras_mayores)/len(lista_gastos))*100
print(f'{len(compras_mayores)} compras superan los {techo} reales')
print(f'Eso representa el {porcentaje:.2f}% del total de compras')

7 compras superan los 3000 reales
Eso representa el 70.00% del total de compras